* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Palatino', sans-serif;
    scroll-behavior: smooth;
}

.body {
    display: block;
    flex-direction: column;
}

/* NAVIGATION BAR */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    background: rgba(17, 17, 23, 0.1);
    top: 0;
    z-index: 999;
}

.navbar-scrolled {
    background: rgba(17, 17, 23, 1);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    
}

.navbar .label {
    color: #ffff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    display: flex;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/* CLOCK */
.clock .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentDoW {
    color: #ffffff;
    font-size: 3vw;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 0.5em 0 1.5em 0;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#currentTime {
    color: #ffffff;
    font-size: 8vw;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#currentDate {
    color: #ffffff;
    font-size: 3vw;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 2em 0px;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

/* TOOL BUTTONS*/
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2em;
}

.tools button {
    border: none;
    outline: none;
    background: none;
    padding: 1em;
}

.tools .divider {
    background-color: #ffffff;
    margin: 0 20px;
    width: 2px;
    height: 5rem;
}

.tools .icons {
    width: 15vw;
    display: flex;
    align-items: center;
}

/* TOOl CONTENT SLIDER */

.slideshow {
    width: 90%;
    margin: 3em auto;
}

.slideshow .carousel {
    height: 50vh;
    border-radius: 25px;
    overflow: hidden;
}

.slideshow .slider {
    height: 100%;
    display: flex;
    width: 300%;
    border: #2b2b2b;
    border-radius: 25px;
    transition: 0.3s;
}

.slideshow .slider section {
    flex-basis: 100%;
    display: flex;
}

.slideshow .content{
    width: 100%;
    background-color: #ffffff;
}

.slideshow .content .header {
    display: flex;
    padding: 0.5em;
    border-bottom: 1px solid #2b2b2b;
    align-items: center;
}

#tool_headerTxt {
    color: #2b2b2b;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 4vw;
}

/* ALARM */

#alarm_CreateBtn {
    border: none;
    outline: none;
    background: none;
    padding: 0.5em;    
}

.addBtn {
    width: 5vw;
    display: flex;
    align-items: center;
}

/* ALARM MODAL */

.popup_SetAlarm {
    position: fixed;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup_SetAlarm .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup_SetAlarm .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 95%;
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
}

.popup_SetAlarm.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup_SetAlarm.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup_SetAlarm.active .container {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup_SetAlarm .title p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 0px 20px 20px;
}

.popup_SetAlarm label {
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.popup_SetAlarm .form {
    padding: 10px;
}

.popup_SetAlarm input[type='text'] {
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;    
}

.popup_SetAlarm input[type='number'] {
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    width: 50px;
}

.popup_SetAlarm .alarmTimeInputMeridiemInput {
    text-align: center;
    margin: 0 10px;
    font-size: 19px;
    border-style: solid;
    border-width: 1px;
}

.popup_SetAlarm .btn_container {
    text-align: center;
    padding: 10px ;
    border-radius: #2b2b2b;
}

.popup_SetAlarm button {
    text-align: center;
    padding: 25px;
    border-radius: #2b2b2b;
    width: 250px;
    height: 100%;
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    border: 1px solid red;
    height: 100%;
    overflow-y: scroll;
}

li {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2 px 4px rgba(0,0,0,0.1);
}
