* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Palatino', sans-serif;
    scroll-behavior: smooth;
}

.body {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* NAVIGATION BAR */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    background: rgba(17, 17, 23, 0.1);
    top: 0;
    z-index: 999;
}

.navbar-scrolled {
    background: rgba(17, 17, 23, 1);
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    
}

#navbar_title {
    color: #ffff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    display: flex;
    font-size: 30px;
    align-items: center;
}

/* CLOCK */
.clock {
    width: 100%;
    height:400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentDoW {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;

}

#currentTime {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
}

#currentDate {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Verdana';
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
    align-items: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
}

/* TOOL BUTTONS*/
.tool_selector {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    
}

.tool_selector .divider {
    
    background-color: #ffffff;
    margin: 0 15px;
    width: 2px;
    height: 250px;

}

.tool_selector .container {
    border: none;
    outline: none;
    background: none;
    padding: 40px;    
}

.tool_selector .icons {
    width: 150px;
    display: flex;
    align-items: center;
}

/* TOOl CONTENT SLIDER */

.tool_container {
    width: 90%;
    margin: 45px auto;
}

.tool_carousel {
    height: 1000px;
    border-radius: 25px;
    overflow: hidden;
}

.tool_slider {
    height: 100%;
    display: flex;
    width: 300%;
    border: #2b2b2b;
    border-radius: 25px;
    transition: 0.3s;
}

.tool_slider section {
    flex-basis: 100%;
    display: flex;
}

#tool_headerTxt {
    color: #2b2b2b;
    padding: 20px;
    font-size: 25px;
}

#alarm_AddBtn {
    border: none;
    outline: none;
    background: none;
    padding: 10px;    
}

.addBtn {
    width: 40px;
    display: flex;
    align-items: center;
}


/* ALARM */
.tool_content{
    width: 100%;
    background-color: #ffffff;

}

.alarm_header {
    display: flex;
    height: 75px;
    border-bottom: 1px solid #2b2b2b;
    align-items: center;
    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;

}

.popup_SetAlarm {
    position: fixed;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;

}

.popup_SetAlarm .setAlarmContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;

}

.popup_SetAlarm.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup_SetAlarm.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup_SetAlarm.active .setAlarmContainer {
    opacity: 1;
    transition: all 300ms ease-in-out;
}




